 <button class="bg-blue-500 text-white hover:bg-blue-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal-id')">
  Ajouter
</button>

<c:if test="${not empty requestScope.departement}">
	<div class="flex opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>
	<div class=" flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center " id="modal-id">
</c:if>
<c:if test="${ empty requestScope.departement}">
	<div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>
   	 <div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center " id="modal-id">
   	 
</c:if>

  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none items-center">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
        <h3 class="text-3xl font-semibold">
        	<c:if test="${not empty requestScope.etudiant}">
        		Modifier Departement
			</c:if>
			<c:if test="${ empty requestScope.etudiant}">
				Ajouter Departement
			</c:if>
          
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" onclick="toggleModal('modal-id')">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6  w-11/12 flex items-center justify-center ">
      	<c:if test="${not empty requestScope.departement}">
	    	 <form action="departements/editer?id=${departement.id}" class=" w-11/12" method="post">
		</c:if>
		<c:if test="${ empty requestScope.departement}">
	    	 <form action="departements/ajouter" class=" w-11/12" method="post">
		</c:if>
        	<div class="flex flex-row w-full max-[600px]:flex-wrap">
        		<div class="mb-3 pt-0 w-10/12 mx-5">
	        		<label class="text-lg font-semibold inline-block py-1 px-2 uppercase rounded text-blue-600 uppercase last:mr-0 mr-1">Nom</label>
				  	<input type="text" pattern="^[A-Za-z]+$"  name="nom" placeholder="Nom" required="required" value="${departement.nom}" class="px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border-1 shadow outline-none focus:outline-none focus:ring w-full"/>
				</div>
        	</div>
        	<div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b self-end">
		        <button id="close-modal" class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal-id')">
		          Annuler
		        </button>
		        <button  class="bg-blue-500 text-white hover:bg-hover-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"  >
		          sauvegarder
		        </button>
	      	</div>
        </form>
      </div>
      <!--footer-->
      
    </div>
  </div>
</div>
