
<form action="rechercher" method="get" class="w-11/12 self-center" id="recherche-form">
	<label class=" text-lg text-blue-500">Le Nom complet</label>
	<div class="w-11/12 flex flex-row items-center justify-between ">
		<input 
			type="text" 
			name="param"
			placeholder="entrer le nom complet.."
			id="search" 
			class="py-3 px-4 block w-10/12 border border-black rounded-lg text-sm     " 
		/>
		<button type="button" id="searchButton" class="px-5 py-3 bg-blue-500 hover:bg-blue-700 rounded rounded-lg">Rechercher</button>
	</div>
</form>