<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>annuaire_ens</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>com.ens.servlets.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdministrationFilter</display-name>
    <filter-name>AdministrationFilter</filter-name>
    <filter-class>com.ens.filters.AdministrationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdministrationFilter</filter-name>
    <url-pattern>/administration/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>EtudiantServlet</display-name>
    <servlet-name>EtudiantServlet</servlet-name>
    <servlet-class>com.ens.servlets.EtudiantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EtudiantServlet</servlet-name>
    <url-pattern>/etudiants</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.ens.servlets.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>